div {
  color: #e69500;
}

h2 {
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
}

img {
  width: 100%;
  height: auto;
}

.admission_list {
  width: 50%;
  height: 100%;
  margin: auto;
}

.home {
  width: 90%;
  height: 100%;
  margin: auto;
}